@media (max-width: 576px) {
   .menu ul{
         display: none;
   }
     .banner-info{
        display: flex;
        flex-direction: column-reverse;
   }
    .banner-text{
         margin-top: 30px;
   }
   .banner-text h1{
    font-size: 2.5rem;
   }
    .our-plan p > br{
        display: none;
   }
     #flower{
        margin: 50px 0 0px 0;
    }
    .flower-info{
        gap: 1rem;
    }
    .flower-text{
         padding:10px ;
    }   
    .flower-text h2{
        margin: 20px 0;
        font-size: 1.75rem;
    }
    .flower-text br{
         display: none;
    }
   .badge{
        display: none;
   }
   .latest-img-container{
        flex-direction: column;
   }
   .latest-img-right{
        width: 100%;
        flex-direction: column;
   }
   .latest-img-left{
         width: 100%;
   }
   .latest-overlay{
        padding: 80px 0;
   }
   #latest{
     margin: 10px 0;
    }
    .latest-overlay h3{
        font-size: 2rem;
    }
    .form-container{
        padding: 100px 0;
    }
    .form-container h2{
        font-size: 1.75rem;
    }
    form button{
        text-align: center;
        display: inline-block;
    }
    form input{
        width: 60%;
    }
    .footer-container{
        flex-direction: column;
    }
    .footer-logo{
        margin: 10px 0 30px ;
        width:100%;
    }
    .footer-icon ul{
        justify-content: start;
    }
    



}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 992px) {
     .banner-info{
        display: flex;
        flex-direction: column-reverse;
   }
   .banner-text{
    margin-top: 40px;
   }
    .our-plan p > br{
        display: none;
   }
   .badge{
    display: none;
   }
   .form-container{
        padding: 150px 0;
    }
    .footer-container{
        display: flex;
        flex-wrap: wrap;
    }
    .footer-logo{
        width: 25%;
    }
    .footer-icon ul{
       flex-direction: column;
    }


}



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .flower-text{
    padding:0;   
}
    .flower-info{
        gap: 5rem;
    }
    .flower-text ul li{
        font-size: 1.25rem;
    }
    


}