@import "tailwindcss";
/* fonts */
@font-face {
    font-family:Inter-Bold;
    src: url(../fonts/Inter-Bold.otf);
}
@font-face {
    font-family:Inter-Medium;
    src: url(../fonts/Inter-Medium.otf);
}
@font-face {
    font-family:Inter-Regular;
    src: url(../fonts/Inter-Regular.otf);
}
@font-face {
    font-family:Inter-SemiBold;
    src: url(../fonts/Inter-SemiBold.otf);
}
@font-face {
    font-family:NotoSerif-Bold;
    src: url(../fonts/NotoSerif-Bold.ttf);
}
img{
    width: 100%;
}
body{
    font-family: var(--font-inter-regular);
    color: #6B7280;
    font-size: 1.25rem;
    font-weight: 400;
    background-color: #F5F8FF;
}
:root{
    --inter-semibold:Inter-SemiBold;
    --font-noto-bold:NotoSerif-Bold;
    --font-inter-regular:Inter-Regular;
    --font-inter-medium:Inter-Medium;
    --font-inter-bold:Inter-Bold;
    --black-color:#000000;
    --vivid-orange-color:#E95A08;
    --white-color:#ffffff;
}
/* shared class */
.btn-b{
    font-family: var(--inter-semibold);
    color: var(--white-color);
    font-size: 1rem;
    border-bottom: 2px  solid #ffffff;
    cursor: pointer;
}
.btn-b:hover{
    color: #E95A08;
    border-bottom: 2px  solid #E95A08;
    text-decoration: .3s;
}
/* header section start  */
.header-container{
    margin: 0 auto;
    width: 90%;
}
.menu ul li a:hover{
    color: var(--vivid-orange-color);
    transition-duration: .3s;
    border-bottom: 1px solid #E95A08;
}
.banner-text h1{
    margin-bottom: 20px;
    font-family: var(--font-noto-bold);
    color: var(--black-color);
}
.banner-text h1 span{
    color: var(--vivid-orange-color);
}
/* header section end */
/* Our Plants section start */
#our{
    margin: 30px 0 50px 0;
}
.our-container{
    margin: 0 auto;
    width: 90%;
}
.our-plan{
    margin: 50px 0;
}
.our-plan-item{
    margin-top: 20px;
}
.our-plan h2{
    font-family: var(--font-noto-bold);
    color: var(--vivid-orange-color);   
}
.our-plan h2 span{
    color: var(--black-color);
}
.our-plan-item{
    text-align: center;
}
.our-plan-item h3{
    margin-top: 30px;
    font-family: var(--font-inter-medium);
    color: var(--black-color);
    font-weight: 500;
}
.our-plan-item h4{
    margin: 10px 0;
    font-family: var(--font-inter-bold);
    color: var(--black-color);
    font-weight: 700;
}
.our-plan-item button{
    padding: 10px 0;
    font-family: var(--inter-semibold);
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--vivid-orange-color);
    width: 100%;
    text-transform: uppercase;
}
.our-plan-item button:hover{
    color: var(--vivid-orange-color);
    background-color: var(--black-color);
    transition-duration: .5s;
}
/* Our Plants section end */
/* Flower & Plants section start */
#flower{
    margin: 150px 0 50px 0;
}
.flower-plan-container{
    width: 90%;
    position: relative;
}
.badge {
    width: 15%;
    position: absolute;
    display: flex;
    justify-content: center;
    top: -10%;
    left:38%;
    
  
}
.flower-text{
    padding:50px 0 0 40px;
}
.flower-text ul li{
    list-style:disc;
    color: #636465;
    
}
.flower-text h2{
    font-family: var(--font-noto-bold);
    color: var(--black-color);
    font-weight: 700;
    line-height: 60px;
}
.badge img{
    filter: drop-shadow(5px 4px 3px  rgba(0,0,0,.7));
}
/* @keyframes badge{
  0% {
    transform: rotate(0deg);
  }
  100% {
   
     transform: rotate(360deg);
  }
} */

/* .badge {
  animation: badge 15s linear infinite;
} */
/* Flower & Plants section end */
/* Latest  Deals section start */
#latest{
    margin: 50px 0;
}
.latest-container{
    margin: 0 auto;
    width: 90%;
}
.latest-img-container{
    display: flex;
    justify-content: space-between;
    gap: 28px;
}
.latest-img-right{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.bloom{
    width: 100%;
    background-image: url(../assets/deal-bloom.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.bloom-overlay{
    padding: 99px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
     border-radius: 15px;
}
.bloom-overlay h3{
    font-family: var(--font-noto-bold);
    color: var(--white-color);
    font-size: 1.25rem;
    font-weight: 700;
}
.ana-overlay{
    padding: 95px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, .4);
     border-radius: 15px;
}
.ana-overlay h3{
    font-family: var(--font-noto-bold);
    color: var(--white-color);
    font-size: 1.25rem;
    font-weight: 700;
}
.ana{
    width: 100%;
    background-image: url(../assets/deal-ana.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}
.latest-img-left{
    width:65%;
    background-image: url(../assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.latest-overlay h3{
    font-family: var(--font-noto-bold);
    color: var(--white-color);
    font-size: 2.5rem;
    font-weight: 700;
}
.latest-overlay{
    text-align: center;
    padding: 222px 0;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 15px;
}
/* Latest  Deals section end */
/* form section start */
#form{
    margin: 50px 0;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.form-container{
    padding: 250px 0;
}
.form-container h2{
    margin-bottom: 20px;
    font-family: var(--font-noto-bold);
    color: var(--white-color);
}
form{
    text-align: center;
}
form input{
    padding: 5px 20px 5px 15px;
    font-size: 1rem;
    width: 50%;
    background-color: var(--white-color);
    outline: none;
    height: 50px;
}
form button{
    margin-left: -10px;
    height: 51px;
    font-size: 1rem;
    padding: 5px 20px;
    color: var(--white-color);
    background-color: var(--vivid-orange-color);
    cursor: pointer;
}
form button:hover{
    background-color: var(--black-color);
    text-decoration: .3s;
}
/* form section end */
/* footer section start */
footer{
    margin: 50px 0;
}
.footer-container{
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    width:25%;
}
.footer-logo a img{
    margin-bottom: 15px;
    width: 50%;
}
.footer-home ul li{
    margin-bottom: 15px;
}
.footer-features ul li {
    margin-bottom: 15px;
}
.footer-icon ul{
    display: flex;
    justify-content: end;
    gap: 30px;
    align-items: center;
}
.footer-home ul li a:hover{
    color: var(--vivid-orange-color);
    border-bottom: 1px solid #E95A08;
    transition-duration: .3s;
}
.footer-features ul li a:hover{
    color: var(--vivid-orange-color);
    border-bottom: 1px solid #E95A08;
    transition-duration: .3s;
}
/* footer section end */